
.navbar {
    position:top fixed;
    text-align: center;
    width:100vw;
  }

#hero{
    background-image: url("images/backdrop.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-top:1em;
    padding:1rem;
    font-family: "Playfair Display", serif;
  font-optical-sizing:bold;
  font-weight: <700>;
  font-style: italic ;
    color:rgba(243, 11, 11, 0.92)
    
}

#songs {    
    height:100vh;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: <100>;
        font-style: italic;
        color:rgb(15, 175, 183)

    
}


#concerts {
    :padding:20rem ;
  }
 #contact {
    height:100vh;
    font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    color:rgb(15, 175, 183)

 }

 body{
    background-color: rgb(219, 237, 237);

 
 /* // Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) { .custom-class {
    display:block;
    background-color: aqua;
  }}
 
 /* // Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) {.custom-class {
    display: block;
    background-color: brown;
  }}
 
 /* // Large devices (desktops, 992px and up) */
 @media (min-width: 992px) { .custom-class {
    display: block;
    background-color: blue;
  }}
 
 /* // X-Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) { .custom-class {
    display: block;
    background-color: antiquewhite;
  } }
 
 /* // XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) { .custom-class {
    display: block;
    background-color: azure;
  } }
}
 